*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: black;
}
#header{
    margin: 0 0px 0px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    z-index: 1;
    width: 100%;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.363);
    background-color: white;
}

.header-img{
    display: inline;
    max-width: 400px;
    text-align: center;
}
#header-img{
    width: 50%;

}
.nav-icon{
    display: none;
}
#nav-bar{
    display: inline;
    text-align: center;
    margin-top: 20px;
}
#nav-bar a{
    text-decoration: none;
    margin: 0px 30px;
    color: black;
}
#nav-bar a:hover{
    border: 2px solid rgba(0, 0, 0, 0);
    padding: 1% 1.5%;
    border-radius: 10%;
    background-color: orange;
    transition: .1s;
    font-size: 1.2em;
    color: white;
}
#banner{
    background-image: url(assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


#banner .banner-container{
    position: absolute;
    top: 20%;
    left: 30%;
}
.info-container{
    display: flex;
    margin-bottom: 15%;
    color: white;
}
.info{
    position: relative;
    left: 25%;
    margin-top: 05%;
}
.info h3,p{
    line-height: 1.4em;
    font-weight: 300;
}
.info h3{
    font-weight: 600;
}

.banner-container img{
    width: 100px;
} 
#about-us{
    margin: 5% 5% 5% 5%;
    text-align: center;
}
#about-us h2{
    margin-bottom: .5%;
}
#about-us p{
    margin: 5% auto;
    max-width: 80%;
    color: grey;

}
#about-us hr{
    width: 50%;
    margin: 0 auto;
    border-bottom: 15% black solid;

}
#pricing{
    margin: 5% auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    width: 85%;
    justify-items: center;
}

.card{
    border: 1px rgb(0, 0, 0) solid;
    border-radius: 05%;
    display: inline-block;
    width: 300px;
    height: 400px;
    text-align: left;
    padding-top: 10%;
    padding-left: 16%;
    transition: .3s;
    line-height: 1.3em;
}
.card h4{
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 5%;
}
.card h2{
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 5%;
}
.card h6{
    color: rgb(65, 63, 63);
}
.card ul{
    position: relative;
    margin-top: 10%;
}

.card a{
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4%;
    margin-top: 100px;
    position: relative;
    top: 15%;
    right: 5%;
    padding: 10%;
    color: black;
    background-color: rgb(241, 206, 6);
}
.card a:hover{
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
}

.card:hover{
    background:  rgb(250, 147, 62);
    color: cornsilk;
    border: 1px rgba(0, 0, 0, 0) solid;
    transform: translate(-10px,-10px) scale(1.1);
}
.price-title{
    text-align: center;
}
.price-title h2{
    margin: .5%;
}
.price-title hr{
    width: 50%;
    margin: 0 auto;
    border-bottom: 15% black solid;
}

.slider-title{
    text-align: center;
}
.slider-title h2{
    margin: .5%;
}
.slider-title hr{
    width: 50%;
    margin: 0 auto;
    border-bottom: 15% black solid;
}
#slider{
    margin: 6%;
    text-align: center;
}

#slider button{
    margin: 0 10%;
    padding: 20px 40px;
    position: relative;
    bottom: 8em;
    border: none;
    background-color: rgb(253, 164, 131);
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 1em;
    cursor: pointer;
}
#slider button:hover{
    background-color: rgb(255, 87, 25);
}

.video{
    text-align: center;
}
.video-desc h2{
    margin: .5%;
}
.video-desc hr{
    width: 50%;
    margin: 2% auto 5% auto;
    border-bottom: 15% black solid;
}
#contact{
    text-align: center;
    width:100%;
}
.contact h2{
    margin: 4% 2% 2% 2%;
}
.contact hr{
    width: 50%;
    margin: 2% auto 5% auto;
    border-bottom: 15% black solid;
}
form{
    border: 1px solid black;
    border-radius: 01%;
    background-color: rgba(245, 235, 98, 0.527);
    max-width: 40%;
    margin: 0 auto;
    padding: 2%;
}
input{
    margin: 2%;
    padding: 1% 3%;
    border-radius: 5%;
    border: none;
}
input[type="submit"]{
    background-color: rgb(241, 206, 6);
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: rgb(251, 255, 0);
    color: rgb(66, 64, 64);
}

#footer{
    background-color: black;
    color: wheat;
    font-weight: 100;
    padding: 1% 3% 0 0% ;
    text-align: right;
}
@media screen and (max-width: 1200px) {

    #pricing{
        
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        grid-row-gap: 10%;
        margin-top: 10%;
        margin-bottom: 15%;
        text-align: center;
    }
    .card1{
        grid-column: 1/3;
    }
    .card2{
        grid-column: 5/7;
        padding: 20%;
    }
    .card3{
        grid-column: 3/5;
        padding: 30%;
    }
}
@media screen and (max-width:992px) {
    
    #slider{
        margin: 6%;
        text-align: center;
    }
    
    #slider{
        margin: 6%;
        text-align: center;
    }
    
    #slider{
        margin: 6%;
        text-align: center;
    }
    
    #slider button{
        
        padding: 10px 20px;
        bottom: 4em;
    }
    #slider-img{
        width: 150px;
        height: 150px;
    }

    #nav-bar{
        position: absolute;
        right: 0%;
        top: -40%;
        display: none;
        flex-direction: column;
        background-color: white;
        height: 100vh;
        width: 60vw;
        justify-content: space-around;
        border: 2px black solid;
        
    }
    .nav-icon{
        display: block;
        position: relative;
        left: 85%;
        top: 15%;
        cursor: pointer;
    }
    
}

.active{
    transform: translateX(0%);
}
@media screen and (max-width:860px) {
    #banner .banner-container{
        left: 20%;
    }
    #pricing{
        
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 45%;
    }
    .card1{
        grid-row: 1/2;
        grid-column: 2/3;
    }
    .card2{
        grid-row: 2/3;
        
        grid-column: 2/3;
    }
    .card3{
        grid-row: 3/4;
        padding: 20%;
        grid-column: 2/3;
    }
    .vid{
        width: 300px;
        height: 200px;
    }
    #nav-bar{
        top: -60%;
    }
}
@media screen and (max-width:660px){
    #slider button{
        
        padding: 5px 10px;
        bottom: 1em;
        font-size: .7em;
    }
    #slider-img{
        width: 80px;
        height: 80px;
    }
    #pricing{
        margin-bottom: 55%;
    }
    .card{
        width: 200px;
        height: 300px;
    }
    .card1{
        padding: 12%;
    }
    .card2{
        padding: 12%;
    }
    .card3{
        padding: 12%;
    }
    .card a{
        
        margin-top: 100px;
        top: 10%;
        right: 0%;
        padding: 7%;
        color: black;
        background-color: rgb(241, 206, 6);
    }
    form{
        max-width: 60%;
    }
    #slider{
        margin: 3%;
    }
    
    #slider button{
        margin: 0 4%;
    }
    #banner .banner-container{
        width: 60%;
        left: 10%;
    }
    .info{
        position: relative;
        left: 15%;
        margin-top: 05%;
    }
    .banner-container img{
        width: 60px;
    } 
    .info h3,p{
        line-height: 1em;
        font-weight: 100;
        
        color: black;
    }
    .info h3{
        font-weight: 300;
        
        color: black;
    }
    
    #nav-bar{
        top: -80%;
    }
}